// Image:
// .img--logo
// .img--frame
// .img--avatar

img{
  display: block;
  max-width: 100%;
}

.form .img--avatar,
.grid__row:first-of-type .grid__col--3{
  align-self: center;
}

.img--frame{
  border:1px solid #d6d7d9;
  padding: 10px;
}
