// ==========================================================================
// Base Styles
// ==========================================================================

* {
	box-sizing: border-box;
	// border: 1px solid black;
}


ul{
	list-style-type: none;
	padding:0;
}


p {
	margin: 0 0 em(30px, 18px);
	font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
}
